// Fonts

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/css/all.min.css';

body {
    font-size: 16px;
    color: $colorContent;
}

#app {
    font-family:  $fontFamily;
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
    margin: 0  auto;
}

a {
    &:visited,
    &:active {
        color: inherit;
    }

    &:hover {
        cursor: pointer;
    }
}


